.content {
  margin: 1px;
  margin-right: -150px;
  padding: 15px;
  width: calc(100% - 40px);
}

.info-container,
.recent-users-container,
.map-container,
.stations-container,
.metro-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
}

.info-container,
.recent-users-container,
.metro-container {
  width: 100%;
}

.map-container iframe {
  width: 100%;
  height: 420px;
  border: 0;
  border-radius: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.user-card:hover {
  background-color: #ffffff;
  transform: scale(1.07);
}

.user-card .user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-card .user-info h3 {
  margin: 0;
  font-size: 16px;
}

.user-card .user-info p {
  margin: 0;
  font-size: 12px;
  color: #6c757d;
}

.metro-images img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.6s ease-in-out;
}

.metro-images img:hover {
  transform: rotateY(180deg);
}

.stations-container {
  width: 100%;
}

.station-card {
  display: flex;
  align-items: center;
  background-color: #038a6c;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.station-card:hover {
  transform: scale(1.3);
}

.station-photo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 10px;
}

.station-info h3 {
  margin: 0;
  font-size: 16px;
}

.station-info p {
  margin: 0;
  color: #ffffff;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.ecuavisa.com/binrepository/867x495/0c0/825d495/none/11705/RRGY/metro-quito-ecuavisa_927558_20230503132851.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  border-radius: 10px;
  z-index: -1;
}

@media (min-width: 768px) {
  .info-container {
    width: 260px;
  }
  
  .recent-users-container {
    width: 445px;
    margin-top: -21px;
  }

  .map-container {
    width: 800px;
    height: 445px;
    margin-left: 280px;
    margin-top: -455px;
  }

  .metro-container {
    width: 265px;
    margin-top: -390px;
    margin-left: 810px;
  }

  .stations-container {
    width: 300px;
    margin-top: -415px;
    margin-left: 480px;
  }
}

@media (max-width: 767px) {
  .content {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
  }

  .info-container,
  .recent-users-container,
  .map-container,
  .stations-container,
  .metro-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .map-container {
    margin-top: 0;
  }

  .metro-container {
    margin-top: 15px;
  }

  .stations-container {
    margin-top: 15px;
  }
}
